SECRET_KEY="example_sercet_key"

MYSQL_DATABASE=example_db
MYSQL_USER=example_user
MYSQL_PASSWORD=example_password
DB_HOST=example_host
DB_PORT=example_port
MYSQL_ROOT_USER=example_root_user
MYSQL_ROOT_PASSWORD=example_root_password
DOMAIN=http://127.0.0.1:8080/

CEREMEO_URL=https://url_systemu/api/v1/lead/