<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oto twoje dane</title>
    <style>
        .download-button {
            text-align: center;
            margin-bottom: 10px;
        }
    </style>
    <script>
        function downloadQR() {
            var qrCodeImg = document.getElementById('qr-code-img');
            var downloadLink = document.createElement('a');
            downloadLink.href = qrCodeImg.src;
            downloadLink.download = 'qr_code.png';
            document.body.appendChild(downloadLink);
            downloadLink.click();
            document.body.removeChild(downloadLink);
        }

        function copyURL() {
            var cardUrlInput = document.getElementById('card-url');
            cardUrlInput.select();
            document.execCommand('copy');
            alert('URL copied to clipboard');
        }
    </script>
</head>
<body>
    <h1>Oto twoje dane</h1>
    <div class="download-button">
        {% if card_url %}
        <p>Adres URL: <input type="text" id="card-url" value="{{ card_url }}" readonly> <button onclick="copyURL()">kopiuj</button></p>
        {% else %}
        <p>No card URL available.</p>
        {% endif %}
        <p>Kod QR - <button onclick="downloadQR()">pobierz</button></p>
    </div>
    <img id="qr-code-img" src="{{ qr_code }}" alt="QR Code">
</body>
</html>
