{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wpisz dane by wygenerować QR i URL</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  </head>
  <body>
    <div class="page-wrapper">
      <header class="header">
        <h1>Wpisz dane by wygenerować QR i URL</h1>
      </header>

      <main class="page-content-wrapper">
        {% if messages %}
        <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        <form method="post" class="form-wrapper" enctype="multipart/form-data">
          {% csrf_token %}

          <h2 class="form-title">Konfig wizytówki</h2>

          <input
            class="text-input"
            type="text"
            placeholder="Twoje imię i nazwisko:"
            id="name_and_surname"
            name="name_and_surname"
            required
          />

          <input
            placeholder="Nazwa firmy:"
            class="text-input"
            type="text"
            id="company"
            name="company"
            required
          />

          <input
            placeholder="Numer telefonu:"
            class="text-input"
            type="tel"
            id="phone_number"
            name="phone_number"
            required
          />

          <input
            class="text-input"
            placeholder="Adres email:"
            type="email"
            id="email"
            name="email"
            required
          />

          <input
            class="text-input"
            placeholder="Zdjęcie (najlepiej kwadrat):"
            type="file"
            id="user_photo"
            name="user_photo"
            accept="image/*"
            required
          />

          <input
            class="text-input"
            placeholder="Adres vcard"
            type="text"
            id="vcard_address"
            name="vcard_address"
            required
          />

          <button class="button" type="submit">Dalej</button>
        </form>
      </main>
    </div>
  </body>
</html>
