{% load static %}

<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>W kontakcie!</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}" />

    <style type="text/css">
      .button.blue {
        background-color: rgba(5, 140, 183, 0.2);
      }

      .additional-information {
        opacity: 0.6;
        align-self: flex-start;
      }

      .button-wrapper {
        width: 100%;
        display: flex;
        gap: 20px;
      }
    </style>
  </head>
  <body>
    <div class="page-wrapper">
      <header class="header">
        <div class="header-content-wrapper">
          <img
            class="image"
            src="{{ lead_photo.url }}"
            alt="{{ name_and_surname }}'s Photo"
          />
          <h1>W kontakcie!</h1>
        </div>
      </header>

      <main class="page-content-wrapper">
        <h2 class="paragraph">
          Dzięki za przekazanie kontaktu, mój otrzymasz do 5 minut. Do
          usłyszenia!
        </h2>

        <img src="{{ random_meme }}" alt="Random Meme" />

        <p class="paragraph additional-information">
          Tak, to ten mem! Jest ok?
        </p>

        <div class="button-wrapper">
          <input type="hidden" name="card_id" value="{{ card_id }}" />
          <input
            type="hidden"
            name="contact_request_id"
            value="{{ contact_request_id }}"
          />

          <button class="button blue" type="button" onclick="handleNieOk()">
            NIE OK
          </button>
          <button type="button" class="button" onclick="handleOk()">OK</button>
        </div>

        <script>
          function handleOk() {
            // Handle OK button click action
          }

          function handleNieOk() {
            // Handle NIE OK button click action
          }
        </script>
      </main>
    </div>
  </body>
</html>
