{% load static %}

<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formularz kontaktowy</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}" />

    <style type="text/css"></style>
  </head>
  <body>
    <div class="page-wrapper">
      <header class="header">
        <div class="header-content-wrapper">
          <img
            class="image"
            src="{{ lead_photo.url }}"
            alt="{{ name_and_surname }}'s Photo"
          />
          <h1>Dziękuję!</h1>
        </div>
      </header>

      <main class="page-content-wrapper">
        <h2 class="heading">
          <span>Za chwilę dostaniesz ode mnie SMS.</span>
          <span>Możesz podać jeszcze jak mam Cię zapisać?</span>
        </h2>

        <form
          class="form-wrapper"
          action="{% url 'requestor_info' card_id=card_id %}"
          method="post"
        >
          {% csrf_token %}
          <input type="hidden" name="card_id" value="{{ card_id }}" />
          <input
            type="hidden"
            name="contact_request_id"
            value="{{ contact_request_id }}"
          />
          <div>
            <input
              class="text-input"
              placeholder="Twoje imię i nazwisko:"
              type="text"
              id="name"
              name="name_and_surname"
              required
            />
          </div>
          <div>
            <input
              class="text-input"
              placeholder="Adres email:"
              type="email"
              id="email"
              name="email"
              required
            />
          </div>
          <div>
            <input
              class="text-input"
              placeholder="Firma / miejsce kontaktu:"
              type="text"
              id="company"
              name="company_or_contact_place"
            />
          </div>
          <div>
            <button class="button" type="submit">Dalej</button>
          </div>

          <span class="paragraph additional-information"
            >PS. Przejdź dalej to zobaczysz mema!</span
          >
        </form>
      </main>
    </div>
  </body>
</html>
