{% load static %}

<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aaa.. i jeszcze jedno</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  </head>
  <body>
    <div class="page-wrapper">
      <header class="header">
        <div class="header-content-wrapper">
          <img
            class="image"
            src="{{ lead_photo.url }}"
            alt="{{ name_and_surname }}'s Photo"
          />
          <h1>Aaa... i jeszcze jedno</h1>
        </div>
      </header>

      <main class="page-content-wrapper">
        <h2 class="heading">
          <span>Za chwilę dostaniesz ode mnie SMS.</span>
          <span>Możesz podać jeszcze jak mam Cię zapisać?</span>
        </h2>

        <form
          class="form-wrapper"
          action="{% url 'contact_prefs' card_id=card_id %}"
          method="post"
        >
          {% csrf_token %}
          <input type="hidden" name="card_id" value="{{ card_id }}" />
          <input
            type="hidden"
            name="contact_request_id"
            value="{{ contact_request_id }}"
          />

          <input
            placeholder="Data:"
            class="text-input"
            type="date"
            id="date"
            name="date"
            required
          />

          <input
            placeholder="Temat:"
            class="text-input"
            type="text"
            id="contact_topic"
            name="contact_topic"
            maxlength="200"
          />

          <button class="button" type="submit">Wyślij</button>

          <span class="paragraph additional-information"
            >Teraz już na pewno będzie mem :)!</span
          >
        </form>
      </main>
    </div>
  </body>
</html>
