{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oto twoje dane</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}" />

    <style type="text/css">
      * {
        margin: 0;
        box-sizing: border-box;
      }

      .wrapper {
        padding: 0px 56px;
      }

      .link-button {
        padding: 0;
        cursor: pointer;
        border: none;
        background: none;
        color: #0038ff;
        text-decoration: underline;
        font-weight: 400;
        font-size: 0.75rem;
      }

      .url-box-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    </style>
    <script>
      function downloadQR() {
        let qrCodeImg = document.getElementById("qr-code-img");
        let downloadLink = document.createElement("a");
        downloadLink.href = qrCodeImg.src;
        downloadLink.download = "qr_code.png";
        document.body.appendChild(downloadLink);
        downloadLink.click();
        document.body.removeChild(downloadLink);
      }

      function copyURL() {
        const cardUrlInput = document.getElementById("card-url");
        cardUrlInput.select();
        document.execCommand("copy");
        alert("URL copied to clipboard");
      }
    </script>
  </head>
  <body>
    <div class="page-wrapper">
      <header class="header">
        <h1>Oto twoje dane</h1>
      </header>
      <main class="page-content-wrapper">
        <div class="wrapper">
          <p class="paragraph">
            Kod QR -
            <button class="link-button" onclick="downloadQR()">pobierz</button>
          </p>

          <img id="qr-code-img" src="{{ qr_code }}" alt="QR Code" />

          {% if card_url %}
          <div class="url-box-wrapper">
            <p class="paragraph">
              Adres URL -

              <button class="link-button" onclick="copyURL()">kopiuj</button>
            </p>

            <input
              class="text-input"
              type="text"
              id="card-url"
              value="{{ card_url }}"
              readonly
            />
          </div>
          {% else %}
          <p>Brak kodu QR</p>
          {% endif %}
        </div>
      </main>
    </div>
  </body>
</html>
